.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 8%;
}

.about-text {
  width: 1000px;
  text-align: justify;
  /* word-wrap: break-word;
  display: inline-block; */
}

.about-image {
  margin-bottom: 40px;
}