.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
}

.about-text {
  width: 1000px;
  text-align: justify;
  font-size: 40px;
  
}

.about > img {
  margin-bottom: 40px;
  margin-right: 200px;
}