.footer {
  background: linear-gradient(to bottom right, #D5DCDC, #12EBDA);
  padding-top: 3em;
  position: relative;
  width: 100%;
  min-height: 11vh;
  margin-top: auto;
  border-top: 5px black solid;
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 180px;
  padding-bottom: 70px;
}

/* .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: auto;
} */

.footer {
  position: relative;
  bottom: 0;
}