.home-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 50px;
  padding-top: 30px;
}

.home-view > img {
  margin-top: 30px;
  border: 8px solid black;
  border-radius: 50%;
}

.and {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* .home-view{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    padding-top: 40px;
  } */
}

@media screen and (max-width: 600px) {
  .my-name, .role {
    font-size: 26px;
  }
  
  .home-view > img {
    width: 65%;
    height: 370px;
    border-radius: 1px solid black;

  }
}