@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Londrina+Shadow&family=Rubik+Mono+One&display=swap');

.nav-bar {
  margin: 0;
  border-bottom: 5px black solid;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: 'Rubik Mono One', sans-serif;
  background-color: white;
  padding-top: 8px;
}


a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: bold;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
