@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Londrina+Shadow&family=Rubik+Mono+One&display=swap');

.nav-bar {
  border-bottom: 5px black solid;
  margin-bottom: 10px;
  font-family: 'Rubik Mono One', sans-serif;
  background-color: white;
  padding-top: 12px;
}


a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: bold;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 20px;
  margin-right: 60px;
}

.nav-icons a {
  color: black;
}

@media screen and (max-width: 600px) {
  
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 20px;
    margin-right: 38px;
    gap: 58px;
  }
}