.learn-more {
  font-size: 15px;
}

.project-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.learn-project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 767px) {

  .project-preview > img{
    width: 90%;
  }
}