.App {
  text-align: center;
}

body {
  background-image: linear-gradient(to bottom, rgb(115, 120, 213), whitesmoke);
  /* background-color: rgb(115, 120, 213)
  ; */
  min-height: 100vh;
}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 767px) {
  
}