.App {
  text-align: center;
}

body {
  background-image: linear-gradient(to bottom, white, whitesmoke);
  min-height: 100vh;
}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 767px) {
  
}